
<footer class="footer" ng-controller="editTemplateCtrl">
    <a class="go-back" ng-click=" backToWelcome()">Back to Welcome!</a>
    &copy; 2015 MailUp S.p.a. - All rights reserved |
    <messagebox size="lg" type="info" id="TOS" header="Terms of use" body-template-url="Client/app/components/core/modals/TOS/TOSView.html">Terms of use</messagebox> |
    <messagebox size="lg" type="info" id="About" header="About BeeFree" body-template-url="Client/app/components/core/modals/about/aboutView.html">About BEE</messagebox> |
    <a href="https://v1.beefree.io" target="_blank">Take me back to v1</a>
    <span class="right"><messagebox size="lg" type="info" id="About" header="About BeeFree" body-template-url="Client/app/components/core/modals/about/aboutView.html">Powered by MailUp</messagebox></span>
</footer>

